@font-face {
    font-family: "Georgia Regular";
    src: url(../fonts/9605GeoReg.ttf);
}

$baseFont: "Georgia Regular",
sans-serif;

$navColor: #81b300;
$darkenColor: #333;
$lightenColor: #999;
$lightColor: #fff;
$frameColor: #1f1f1f;
$backgroundColor: #fff;