@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

.grid {
    display: grid;
    background-color: darkgray;
    grid-gap: 3px;
    height: 100vh;
    padding: 1% 10% 1% 10%;
    grid-template-areas:
        "header    header header header header header"
        "nav    main   main   main   aside  aside"
        "nav    main   main   main  contExtra contExtra"
        "nav    main   main   main contExtra contExtra"
        "footer footer footer footer footer footer";
}

.grid > * {
    /*            outline: 1px solid rgba(0, 0, 0, 0.55);*/
    background: lightgray;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

header {
    justify-content: center;
    align-content: center;
    grid-area: header;
    display: grid;
    grid-gap: 10px;
}

nav {
    grid-area: nav;
    display: grid;

}

.gridNav li {
    border-radius: 5px;
    background: rgba(128, 128, 128, 0.24);

}

main {
    grid-area: main;
    padding: 5px;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
    width: 100%;
    text-align: center;
    color: #445161;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 26px;
    background: #d4dce5;
}

.contBox {
    grid-area: contBox;
}

.contacts {
    grid-area: contExtra;
    display: grid;
    width: 100%;

}

.contAside {
    grid-area: contAside;
}

@media (max-width: 1024px) {

    input{
        margin-bottom: 15px;
    }
    nav{
        padding: 10px 2px 10px;
        
        li {
            height: 100%;
        }
    }
    .grid {
        height: 100%;
        grid-template-areas:
            "header header header header header header"
            "nav    nav   nav   nav   nav  nav"
            "main    main   main   main  aside aside"
            "main    main   main   main  contExtra contExtra"
            "main    main   main   main contExtra contExtra"
            "footer footer footer footer footer footer";
    }

    .gridNav {

        margin: 0 auto;
        grid-template-columns: repeat(3, 2fr);
        grid-template-rows: 1fr 1fr;
        width: 96%;
        height: 150px;
        justify-content: stretch;
        grid-gap: 1px;

    }
}

@media (max-device-width: 785px) {
    .grid {
        padding: 1% 1% 1% 1%;

        grid-template-areas:
            "header     header     header     header     header     header"
            "nav        nav        nav        nav        nav        nav"
            "main       main       main       main       main       main"
            "main       main       main       main       main       main"
            "aside      aside      aside      aside      aside      aside"
            "contExtra  contExtra  contExtra  contExtra  contExtra  contExtra"
            "footer     footer     footer     footer     footer     footer";
    }

    
}

.logo {
    font-size: 200%;
    color: rgb(126, 126, 126);
}

.btnHead {
    border-radius: 5px;
    height: 40px;
    background: darkgray;
    color: rgb(105, 105, 105);
    box-shadow: 0 0 5px #171616;
}

.gridNav {
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    list-style-type: none;
    display: grid;
    grid-gap: 1px;

    /*    grid-template-rows: repeat(6, 1fr);*/
}

.gridNav input {
    font-size: 1em;
    border-radius: 5px;
    background: rgba(105, 105, 105, 0.19);
    color: dimgrey;
    height: 100%;
    width: 100%;
}

.gridbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    height: 100%;
}

.gridbox div {
    text-align: center;
    border-radius: 5px;
    background: silver;
    padding: 10px;


}

.gridbox h2 {
    font-size: 20px;
    font-weight: 600;

}

.tags {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    height: 100%;
    grid-gap: 1px;
    font-size: 1.5em;

}

.tags a {
    text-decoration: none;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.3);
    margin: 1px;
    color: rgba(0, 0, 0, 0.31);
}

.contacts>div {
    width: 100%;
}

.contacts h3 {
    color: #445161;
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 10px;
}

.contacts form {
    padding: 25px;
    box-sizing: border-box;
    width: 100%;
    background: rgba(68, 81, 97, 0.32);
    color: #ffffff;
    overflow: hidden;
}

.contacts label,
.contacts input {
    display: block;
    width: 100%;
}

.contacts input[type="text"],
.contacts input[type="time"] {
    outline: none;
    color: #445161;
    margin-bottom: 20px;
    padding: 7px 5px;
    border-radius: 5px;
    border: none;
}

.contacts input[type="submit"] {
    border-radius: 5px;
    background-color: #ffffff;
    width: 140px;
    height: 30px;
    text-align: center;
    color: #445161;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    border: none;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
}

@media (max-device-width: 660px) {

    .gridbox {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    nav{

        grid-template-rows: 1fr;
    .gridNav{
        height: 150px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
    }
}
}