.b-services {
    &_decor {
        margin: 15px 0;
    }
}

.b-service {
    margin: 15px 0;
    // padding: 0 10px;
    // outline: 5px solid black;

    &_card {
        // background: opacity($color: #000000);
        background: rgba(255, 255, 255, 0.212);
        backdrop-filter: blur(5px);

        // filter:blur(4px);

        // &:nth-child(even){
        //     @media (min-width: 768px) {
        //         margin-right: 0;
        //     }
        // }
        // &:nth-child(odd){
        //     @media (min-width: 768px) {
        //         margin-left: 0;
        //     };
        //   }
        // &:nth-child(1){
        //     margin-left: 0;
        // }
        // &:nth-last-child(-n+1){
        //     margin-right: 0;
        // }
    }
}


//TODO сделать фон карточек прозрачным, с эффектом блура заднего фона / и сделать небольшую рамочку вокруг карточки с еще более блуром ну или по ситуации

.b-cardService {

    &_style {
        width: 15rem;
        background-color: transparent;
        
    }
}